name: CI Build

on:
  workflow_dispatch:
    inputs:
      Build_Kernel:
        required: true
        type: choice
        default: KSU
        options:
        - KSU
        - NonKSU
        - KSU & NonKSU
      os:
        required: true
        type: string
        default: ubuntu-latest

jobs:
  build-ksu:
    if: ${{ (inputs.Build_Kernel == 'KSU' || inputs.Build_Kernel == 'KSU & NonKSU') && !failure() && !cancelled() }}
    uses: ./.github/workflows/build-kernel.yml
    with:
      include_ksu: "KSU"
      os: ${{ inputs.os }}

  build-nonksu:
    if: ${{ inputs.Build_Kernel == 'NonKSU' || inputs.Build_Kernel == 'KSU & NonKSU' }}
    uses: ./.github/workflows/build-kernel.yml
    with:
      include_ksu: "NonKSU"
      os: ${{ inputs.os }}
